{% extends "base.html" %}
{% load static %}

{% block title %}
{{ profile.name }} on LinkPro
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-2 col-xl-1">
            {% if "placeholder" in profile.profile_image.url %}
            <img class="profile-page-image" src="{% static 'images/placeholder.jpg' %}"
                alt="No profile image available.">
            {% else %}
            <img class="profile-page-image" src=" {{ profile.profile_image.url }}"
                alt="{{ profile.name }}'s profile image.">
            {% endif %}
        </div>
        <div class="col-12 col-md-8 col-xl-10">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">{{ profile.name }}</h1>
                    <p class="lead">{{ profile.headline }}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2 col-xl-1">
            <div class="profile-header-container">
                {% if is_self %}
                <a href="{% url 'edit_profile' %}" class="profile-header-connect">Edit your profile.</a>
                {% else %}
                {% if is_connected %}
                <a href="{% url 'remove_connection' profile.id %}" class="profile-header-connect">Remove connection</a>
                {% else %}
                <a href="{% url 'connect' profile.id %}" class="profile-header-connect">Connect</a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}