{% extends "base.html" %}
{% load static %}

{% block title %}
{{ profile.name }} on LinkPro
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-2 col-xl-1">
            {% if "placeholder" in profile.profile_image.url %}
            <img class="profile-page-image" src="{% static 'images/placeholder.jpg' %}"
                alt="No profile image available.">
            {% else %}
            <img class="profile-page-image" src=" {{ profile.profile_image.url }}"
                alt="{{ profile.name }}'s profile image.">
            {% endif %}
        </div>
        <div class="col-12 col-md-8 col-xl-10">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">{{ profile.name }}</h1>
                    <p class="lead">{{ profile.headline }}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2 col-xl-1">
            <div class="profile-header-container">
                {% if is_self %}
                <a href="{% url 'edit_profile' %}" class="profile-header-connect">Edit your profile.</a>
                {% else %}
                {% if is_connected %}
                <button class="btn btn-primary profile-header-connect" id="connect-button"
                    data-user-id="{{ profile.id }}">Disconnect</a>
                    {% else %}
                    <button class="btn btn-primary profile-header-connect" id="connect-button"
                        data-user-id="{{ profile.id }}">Connect</a>
                        {% endif %}
                        {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let connectButton = document.getElementById('connect-button');

        connectButton.addEventListener('click', function (event) {
            event.preventDefault();

            var link = this;
            var userId = link.getAttribute('data-user-id');
            var csrfToken = '{{ csrf_token }}';

            link.setAttribute('disabled', 'true');

            var url = link.innerText === 'Connect' ? `connect/${userId}` : `disconnect/${userId}`;

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({})
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                    if (data.status === 'success') {
                        link.innerText = link.innerText === 'Connect' ? 'Disconnect' : 'Connect';
                        link.removeAttribute('disabled');
                    } else {
                        link.removeAttribute('disabled');
                    }
                })
                .catch(function (error) {
                    link.removeAttribute('disabled');
                });
        });
    });
</script>

{% endblock %}