* {
    border: 0px;
    margin: 0px;
}

:root {
    --blue: #20A4F3;
    --white: #EEEEEE;
    --black: #050505;
    --charcoal: #2F4858;
    --red: #D72638;
}

body {
    background-color: var(--white);
    color: var(--black);
}

body, html {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  .content {
    flex: 1;
  }

  .footer {
    flex-shrink: 0;
  }

#brand-link {
    color: var(--blue);
    font-size: xx-large;
}

#brand-pro {
    color: var(--white);
    font-size: x-large;
    text-transform: uppercase;
}

.navbar {
    background-color: var(--black);
}

.nav-link {
    color: var(--white);
}

.nav-link:focus,
.nav-link:hover {
    color: var(--blue);
}

.btn-outline-success {
    color: var(--blue);
    border-color: var(--blue);
}

#navbarSupportedContent>form>input {
    background-color: var(--white);
}

.footer {
    background-color: var(--black);
    width: 100%;
    margin-bottom: 0 !important;
}

.footer>p {
    color: var(--white);
    margin-bottom: 0;
}

.footer #brand-link {
    color: var(--blue);
    font-size: x-large;
}

.footer #brand-pro {
    color: var(--white);
    font-size: large;
    text-transform: uppercase;
}

.profile-page-image {
    width: 200px;
}