* {
    border: 0px;
    margin: 0px;
}

:root {
    --blue: #20A4F3;
    --white: #EEEEEE;
    --black: #050505;
    --charcoal: #2F4858;
    --red: #D72638;
}

body {
    background-color: var(--white);
    color: var(--black);
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
  
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

.footer {
    flex-shrink: 0;
    margin-top: 0 !important;
}

#brand-link {
    color: var(--blue);
    font-size: xx-large;
}

#brand-pro {
    color: var(--white);
    font-size: x-large;
    text-transform: uppercase;
}

.navbar {
    background-color: var(--black);
}

.nav-link {
    color: var(--white);
}

.nav-link:focus,
.nav-link:hover {
    color: var(--blue);
}

.btn-outline-success {
    color: var(--blue);
    border-color: var(--blue);
}

#navbarSupportedContent>form>input {
    background-color: var(--white);
}

.footer {
    background-color: var(--black);
    width: 100%;
    margin-bottom: 0 !important;
}

.footer>p {
    color: var(--white);
    margin-bottom: 0;
}

.footer #brand-link {
    color: var(--blue);
    font-size: x-large;
}

.footer #brand-pro {
    color: var(--white);
    font-size: large;
    text-transform: uppercase;
}

.profile-page-image {
    width: 100px;
    border-radius: 50%;
}

.profile-header-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.profile-header-connect {
    position: absolute;
    bottom: 0;
}

.all-profiles-image {
    border-radius: 50%;
}

.dropdown-item {
    color: var(--black);
}

@media (max-width: 369.98px) {
    .all-profiles-image {
        width: 50px;
    }
}


@media (min-width: 370px) and (max-width: 575.98px) {

    /* Bootstrap XS breakpoint */
    .all-profiles-image {
        width: 100px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {

    /* Bootstrap S breakpoint */
    .all-profiles-image {
        width: 100px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

    /* Bootstrap M breakpoint */
    .all-profiles-image {
        width: 100px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    /* Bootstrap L breakpoint */
    .all-profiles-image {
        width: 75px;
    }
}

@media (min-width: 1200px) {

    /* Bootstrap XL breakpoint */
    .all-profiles-image {
        width: 100px;
    }
}